<div class="container">
  <h1>Edit post</h1>
  <form action="/post_updated" method="post" name="edit-post-form">

    <% categories.each do |category| %>
      <li>
        <% checked = category.id == @post.category_id ? "checked" : nil %>
        <input type="radio" name="category_id" value="<%= category.id %>" 
          <%= checked %>> <%= category.name %>
      </li>
    <% end %>
    <BR>
    <input type="hidden" name="id" value="<%= @post.id %>">

    <li>
      Title:<BR>
      <input type="text" name="title" size="65" value="<%= @post.title %>">
    </li><BR>

    <li>Description:<BR>
      <textarea rows="10", cols="64.9", name="description"><%= @post.description %></textarea>
    </li><BR>

    <li>Price: <BR>
      <input type="text" name="price" size="7" value="<%= @post.price %>">
    </li><BR>

    <li>Email: <BR>
      <input type="text" name="email" size="20" value="<%= @post.email %>">
    </li><BR>

    <li>
      <input type="submit" value="Submit!">
    </li><BR>
  </form>
  <form action="/delete" method="post" >
    <input type="hidden" name="secret_url" value="<%= @post.secret_url %>">
    <input type="submit" value="Delete post">
  </form>
</div>
