<div class="container">
  <h1><%= @post.title %></h1>
  <li>Category: <%= @category.name %></li>
  <li>Description: <%= @post.description %></li>
  <li>$<%= @post.price %></li>
  <li>Contact: <%= @post.email %></li>
</div>
